<h2 class="page-header">Compétences</h2>
<table class="table">
    <tr>
        <th>Domaines</th>
        <th>Compétences</th>
        <th>Basique</th>
        <th>Avancé</th>
        <th ng-show="perso.haveAcccessExpertComp()">Expert</th>
        <th ng-show="perso.haveAcccessProdigeComp()">Prodige</th>
    </tr>
    <tr ng-repeat="c in listeCompetences | orderBy:'domaine'">
        <td>
            {{c.domaine}}
        </td>
        <td>
            <b>{{c.nom}}</b><br/>
            {{ c.note}}
        </td>
        <td>
            {{c.basique}}
            <span class="btn btn-primary" ng-show="!perso.haveBasiqueComp(c)" ng-click="perso.addBasiqueComp(c)">1 pt.</span>
            <span class="btn btn-danger" ng-show="perso.haveBasiqueComp(c)" ng-click="perso.removeBasiqueComp(c)">Supprimer</span>
        </td>
        <td>
            {{c.avance}}
            <span class="btn btn-primary" ng-show="!perso.haveAvanceComp(c)" ng-click="perso.addAvanceComp(c)">1 pt.</span>
            <span class="btn btn-danger" ng-show="perso.haveAvanceComp(c)" ng-click="perso.removeAvanceComp(c)">Supprimer</span>
        </td>
        <td ng-show="perso.haveAcccessExpertComp()">
            {{c.expert}}
            <span class="btn btn-primary" ng-show="!perso.haveExpertComp(c) && c.expert" ng-click="perso.addExpertComp(c)">1 pt.</span>
            <span class="btn btn-danger" ng-show="perso.haveExpertComp(c)" ng-click="perso.removeExpertComp(c)">Supprimer</span>
        </td>
        <td ng-show="perso.haveAcccessProdigeComp()">
            {{c.prodige}}
            <span class="btn btn-primary" ng-show="!perso.haveProdigeComp(c) && c.prodige" ng-click="perso.addProdigeComp(c)">1 pt.</span>
            <span class="btn btn-danger" ng-show="perso.haveProdigeComp(c)" ng-click="perso.removeProdigeComp(c)">Supprimer</span>
        </td>
    </tr>
</table>
