<h1>Synthèse du personnage</h1>
<p><u>Budget restant : {{perso.budget}} points</u></p>

<h4>Type : {{perso.type.nom}}</h4>
<ul>
    <li>{{perso.type.description}}</li>
    <li ng-show="perso.type.note">Note : {{perso.type.note}}</li>
</ul>

<h4>Limitation : {{perso.limitation.nom}}</h4>
<ul>
    <li>{{perso.limitation.description}}</li>
</ul>

<h4>Faction : {{perso.faction.nom}}</h4>
<ul>
    <li>{{perso.faction.description}}</li>
    <li ng-show="perso.faction.note">Note : {{perso.faction.note}}</li>
</ul>

<h4>Allégeance : {{perso.allegeance.nom}}</h4>
<ul>
    <li>{{perso.allegeance.description}}</li>
    <li ng-show="perso.allegeance.note">Note : {{perso.allegeance.note}}</li>
</ul>

<h4 ng-show="perso.haveAcccessSpecialite()">Spécialité : {{perso.specialite.nom}}</h4>
<ul ng-show="perso.haveAcccessSpecialite()">
    <li>{{perso.specialite.description}}</li>
    <li ng-show="perso.specialite.note">Note : {{perso.specialite.note}}</li>
</ul>

<h4>Compétences</h4>
<div ng-repeat="(domaine, comps) in perso.competences">
    <h5>Domaine {{domaine|lowercase}}</h5>
    <ul>
        <li ng-repeat="(comp, niveaux) in comps">
            <b>{{comp}}</b>
            <ul>
                <li ng-show="niveaux.basique">Niveau basique : <div ng-bind-html-unsafe="niveaux.basique"></div></li>
                <li ng-show="niveaux.avance">Niveau avancé : <div ng-bind-html-unsafe="niveaux.avance"></div></li>
                <li ng-show="niveaux.expert">Niveau expert : <div ng-bind-html-unsafe="niveaux.expert"></div></li>
                <li ng-show="niveaux.prodige">Niveau prodige : <div ng-bind-html-unsafe="niveaux.prodige"></div></li>
            </ul>
        </li>
    </ul>
</div>

<h4 ng-show="perso.haveAcccessPouvoirInhumain()">Pouvoir inhumain : {{perso.pouvoirInhumain.nom}}</h4>
<ul ng-show="perso.haveAcccessPouvoirInhumain()">
    <li>Effet : {{perso.pouvoirInhumain.effet}}</li>
    <li>Contrepartie : {{perso.pouvoirInhumain.contrepartie}}</li>
</ul>

<h4 ng-show="perso.haveAcccessPouvoirAugmente()">Pouvoir augmente : {{perso.pouvoirAugmente.nom}}</h4>
<ul ng-show="perso.haveAcccessPouvoirAugmente()">
    <li><span ng-bind-html-unsafe="perso.pouvoirAugmente.effet"></span></li>
</ul>

<h4 ng-show="perso.haveAcccessPouvoirMystique()">Pouvoirs mystiques</h4>
<ul ng-show="perso.haveAcccessPouvoirMystique()">
    <li ng-repeat="p in perso.pouvoirsMystiques">
        <div>
            <b>{{p.nom}}</b>
            Symbole : {{p.symbole}}<br/>
            <div ng-bind-html-unsafe="p.sort_1"></div>
            <div ng-bind-html-unsafe="p.sort_2"></div>
            <u>Rituel</u> : <span ng-bind-html-unsafe="p.rituel"></span>
        </div>
    </li>
</ul>

<h4 ng-show="perso.haveAcccessExosquelette()">Exosquelette : {{perso.exosquelette.nom}}</h4>
<ul ng-show="perso.haveAcccessExosquelette()">
    <li>Capacité : <div ng-bind-html-unsafe="perso.exosquelette.capacite"></div></li>
    <li>Type d'armure : <div ng-bind-html-unsafe="perso.exosquelette.type_armure"></div></li>
</ul>

