<h2 class="page-header">GN MARVEL : SOKOVIA II - Stars & Strife - Générateur de personnages</h2>

<p>Bienvenue sur le site de création de personnage de la campagne MARVEL : SOKOVIA II, organisée par l’association Nouvelle Contrée.</p>
<p>Ces pages vous permettent de créer votre personnage pendant que les calculs liés aux bonus et malus de vos choix sont directement implémentés au fil de vos clics.</p>
<p>Sur la page « Perso », vous trouverez le résumé de vos compétences une fois tous vos points dépensés.</p>
<p>En cas de bug, erreur, question, besoin d’explications, envoyez-nous un mail sur nc.gnmarvel@gmail.com</p>
<p>Les Orgas.</p>

<div class="well">Les règles génériques ont été remodelées pour ce deuxieme opus, suite à l'expérience du premier GN.<br /> Des changements importants sur les états de santé, la gestion des armes à feu, et sur les combats.<br />Nous vous invitons donc à lire attentivement ce nouveau fichier de règles avant le GN Marvel II.<br /><a href="data/regles_sokovia.pdf" target="_BLANK" >Les régles générales du GN MARVEL II, à lire absolument !</a></div>

<p>Création de Personnage : 10 Pts de Création</p>
<p><strong>Pour ce GN Marvel II, ce générateur de personnage est à titre informatif, car ce sont les orgas qui vont fourniront votre fiche de personnage. Mais en utilisant ce générateur, vous pouvez regarder l'existant et faire des propositions aux orgas sur ce que vous voudriez comme compétences pour votre personnage.</strong></p>
<p>Vous dépensez vos points au fil des choix et le site calcule vos dépenses, ajuste vos bonus et malus en conséquence, et ouvre ou ferme les options auxquelles vous aurez accès en fonction de ce que vous choisissez, vous masquant ce qui vous sera inutile.</p>
<p>Il y a 35 rôles pour le premier GN, 20 rôles d’humains, et 15 rôles « autres », dont 3 Inhumains, 3 Exosquelettes, 3 Augmentés, 3 Prodiges et 3 mystiques.</p>
<p>Il y a 4 factions, 8 rôles par Factions + 3 rôles Freelance. Chaque Faction devra posséder au moins une personne possédant la compétence « Accords » en Expert afin de signer les traités.</p>
<p>Ces quotas seront gérés par ordre d’arrivée des inscriptions. Nous ferons en sorte qu’il n’y ait pas deux fois le même type de « pouvoir » en Jeu et que les groupes soient équilibrés.</p>
<p>Vous aurez à choisir dans l’Ordre :</p>
<ul>
    <li><u>Type</u> : Humain, Prodige, Augmenté, Inhumain, Mystique. Globalement les humains ont un peu plus de points, plus de libertés dans les compétences et plus de polyvalence. Les autres sont plus spécialisés mais avec des effets uniques ouvrant des listes de compétences particulières.</li>
<li><u>Faction</u> : A laquelle des 4 délégations appartenez-vous ? Les Sokoviens Loyalistes, les Sokoviens monarchistes, les Latvériens ou l’ONU ?</li>
<li><u>Allégeance</u> : Certains servent d’autres maîtres que ce qu’ils montrent, d’autres en combinent plusieurs dans un même but.</li>
<li><u>Spécialité</u> : Vous pouvez choisir d’être défavorisé avec certaines compétences pour être favorisé dans d’autres.</li>
<li><u>Limitations</u> : Vous pouvez choisir une forme de handicap physique ou social pour gagner 1pt de création.</li>
<li><u>Compétences</u> : réparties par domaines :  Communes, Martiales, Technique, Scientifique, Diplomate, Criminel, Artistique. Chaque compétences à trois niveaux : Basique, Avancé, Expert, qui vous sont accessibles ou non en fonction de votre Type, Allégeance etc… Le site ne vous montre que ce à quoi vous avez droit.</li>
</ul>

<div class="well">La page «Perso » résume vos choix, vous pouvez l’imprimer ou la copier et l’envoyer par mail sur nc.gnmarvel@gmail.com. Votre inscription ne sera prise en compte qu’après réception de l’inscription papier et des chèques.</div>

